body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: grey;
}

h1 {
  text-align: center;
}

#gameboard {
  margin: 0 auto;
  border-spacing: 0;
}

tr {
  padding: 0;
  cursor: pointer;
}

td {
  border: 1px solid #002ae0;
  background-color: #002ae0;
  padding: 0;
  margin: 0;
}

img {
  width: 80px;
  height: 80px;
}

#displayWinner {
  border: 2px solid black;
  box-shadow: 2px 2px black;
  width: 30%;
  margin: auto;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 34%;
  display: none;
}

#displayWinner p {
  text-align: center;
  color: #002ae0;
  font-weight: bold;
  font-size: large;
}

aside {
  display: none;
  width: 250px;
  margin: auto;
}

#start {
  margin: 50px auto;
  padding: 10px;
  display: block;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#row, #col {
  width: 250px;
  margin: 10px auto;
}

#restart {
  display: block;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    color: #002ae0;
    background-color: white;
    cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
  padding: 5px;
}